.praticien-fiche hr {
  width: 100%;
}
.praticien-fiche h2 {
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 0;
  text-transform: uppercase;
  color: #cfcfcf;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
}
.praticien-fiche h2.job {
  border-bottom: none;
}
.praticien-fiche .main-block {
  height: 150px;
}
.praticien-fiche .avatar {
  background: #000000;
}
.praticien-fiche .angular-google-map-container {
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
